html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: var(--color-white);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

:root {
  --color-orange: #FF9900;
  --color-black: #333333;
  --color-white: #FFFFFF;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.header {
  max-width: 100%;
}

.footer {
  max-width: 100%;
}
.section-offset {
  padding-bottom: 100px;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: var(--color-black);
}

.section-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}

.btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

/* header */

.header__container {
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 3.5%;
  padding-right: 3.5%;
  width: 100%;
  min-height: 100px;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__menu {
  display: none;
}

.search__container {
  display: none;
  position: absolute;
  flex-direction: row;
  min-width: 539px;
  height: 60px;
  z-index: 2;
  right: 0;
  top: 20%;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 13px;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.search__form {
  max-width: 450px;
  margin-right: 20px;
}

.input__search {
  outline: none;
  min-width: 412px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

input::-webkit-search-cancel-button {
  display: none;
}

.search__submit {
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--color-white);
  background-image: url('../img/search-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search__cancel {
  width: 24px;
  height: 24px;
  background-image: url('../img/search-cancel.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  min-width: 708px;
  height: 22px;
  margin-right: 85px;
  transition: color, .2s, ease-in-out;
}

.nav__list {
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.menu-link {
  display: none;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
}

.search-link {
  width: 30px;
  height: 30px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
}



/* hero */

.hero__container {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 620px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 840px;
  min-height: 170px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  max-width: 790px;
  min-height: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.hero__btn {
  padding: 25px 35px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

/* swiper */
.swiper {
  position: relative;
  width: 100%;
  min-height: 620px;
}

.swiper-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 620px;
}

.swiper-slide {
  width: 100%;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide_1 {
  background-image: url("../img/hero.jpg");
}

.swiper-slide_2 {
  background-image: url("../img/hero-2.jpg");
}

.swiper-slide_3 {
  background-image: url("../img/hero-3.jpg");
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 20px;
}


.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active {
  background: var(--color-white);
}

/* about-us */

.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  max-width: 1235px;
  min-height: 192px;
  margin-bottom: 50px;
  line-height: 32px;
}

.about-us__container-content {
  min-height: 622px;
}

.about-us__container-content_right {
  flex-direction: column;
  min-height: 622px;
}

.about-us__item_alert {
  position: relative;
  width: 868px;
  min-height: 622px;
  margin-right: 30px;
  background-image: url("../img/builder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.item-alert__container {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  min-height: 196px;
  max-height: 100%;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  background: rgba(0, 0, 0, 0.5);
}


.item-alert__btn {
  align-content: center;
}

.about-us__btn {
  padding: 18px 36px;
  border: 3px solid var(--color-orange);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  transition: background-color, .2s, ease-in-out;
}

.about-us__item {
  max-width: 870px;
  min-height: 295px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 300px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 65px;
  border: 1px solid #CACACA;
}


.about-us__item_1 {
  margin-bottom: 32px;
  background-image: url('../img/about-us_1.svg');
}

.about-us__item_2 {
  background-image: url('../img/about-us_2.svg');
}

.about-us-item__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.about-us-item__descr {
  max-width: 450px;
  margin-right: 139px;
  min-height: 96px;
  line-height: 32px;
}

.about-us-item__descr_alert {
  max-width: 454px;
  min-height: 96px;
  margin-right: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}


/* do-work */

.do-work__title {
  margin-bottom: 50px;
}

.do-work__steps {
  margin-bottom: 45px;
}

.steps__list {
  max-width: 457px;
  height: 22px;
  justify-content: space-between;
}

.step__btn_active {
  color: #E1670E;
}

.tabs-content {
  width: 100%;
  min-height: 460px;
}

.do-work__info-container {
  width: 100%;
  min-height: 460px;
  display: none;
  justify-content: space-between;
}

.do-work__info-container_active {
  display: flex;
}

.do-work__left-container {
  max-width: 51%;
}

.do-work__right-container {
  padding-top: 12px;
}

.do-work__step {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.do-work-left__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  }

.do-work__descr {
  max-width: 760px;
  margin-bottom: 50px;
  min-height: 320px;
  line-height: 32px;
}

.do-work__button {
  padding: 20px 38px;
  margin-right: 30px;
  font-weight: 700;
}

.do-work__button_alert {
  padding: 20px 35px;
  border: 1px solid #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  transition-property: color, background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.step__btn {
  transition: color, .2s, ease-in-out;
}


/* questions */

.question__title {
  margin-bottom: 40px;
}

.questions__main-quest {
  flex-direction: column;
  min-height: 560px;
}


.question__li {
  width: 100%;
  min-height: 112px;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  margin-top: -1px;
  transition: color, .2s, ease-in-out;
  cursor: pointer;
}

.question__descr {
  min-height: 112px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.question__answer {
  margin: 0;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.question__li:first-child {
  border-top: 1px solid #CACACA;
}


.question__li:last-child {
  border-bottom: 1px solid #CACACA;
}

/* accordion */

.ui-accordion .ui-accordion-header {
  padding: 0;
  padding-right: 50px;
  padding-top: 39px;
  padding-bottom: 39px;
  background-image: url('../img/question-btn.svg');
  background-repeat: no-repeat;
  background-position: right;
  outline: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-bottom: 40px;
}

.ui-state-active {
  background: none;
  border: none;
}

.ui-state-default {
  background: none;
  border: none;
}

.ui-widget {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.ui-widget-content {
  border: none;

}

/* footer */

.footer__container {
  width: 100%;
  padding-top: 47px;
  padding-bottom: 50px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: #222222;
}

.footer__left {
  width: 610px;
}

.footer__center {
  width: 33%;
}

.footer__right {
  width: 34%;
  padding-left: 13.5%;
  padding-top: 88px;
}

.footer__logo svg {
  width: 225px;
  height: 72px;
}

.footer__logo {
  outline: none;
}

.left__list {
  flex-direction: column;
  margin-bottom: 90px;
  justify-content: space-between;
  min-height: 252px;
  padding-top: 20px;
}

.left__item {
  width: 300px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color, .2s, ease-in-out;
}

.social-links {
  width: 230px;
  justify-content: space-between;
}

.center__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.form {
  flex-direction: column;
}

.form__input-name,
.form__input-email {
  max-width: 570px;
  height: 60px;
  margin-bottom: 25px;
}

.form__textarea {
  max-width: 570px;
  height: 150px;
  padding-top: 14px;
  margin-bottom: 32px;
}

.form__input-name,
.form__input-email,
.form__textarea {
  outline: none;
  border: none;
  padding-left: 24px;
  outline: 0;
  background-color: #414141;
  transition: background-color, .2s, ease-in-out;
}

.form__bottom {
  align-items: center;
  flex-wrap: wrap;
}

.form__btn {
  padding: 19px 52px;
  margin-right: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.form__checkbox {
  margin-right: 4px;
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  }

.footer__descr {
  max-width: 363px;
  min-height: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}




/* effects */

.nav__link:hover {
  border-bottom: 2px solid var(--color-orange);
}

.nav__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.nav__link:focus,
.search-link:focus,
.header__link-logo:focus {
  outline: none;
  border: 2px solid var(--color-orange);
}

.search-link:hover {
  background-image: url("../img/search-2.svg");
}

.search-link:active {
  background-image: url("../img/search.svg");
}

.search__submit:focus,
.search__cancel:focus {
  outline: none;
  border: 2px solid var(--color-orange);
}

.btn:hover,
.btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #E1670E;

}

.about-us__btn:hover,
.about-us__btn:focus {
  background-color: var(--color-orange);
}

.about-us__btn:active {
  background-color: #E1670E;
}

.step__btn:hover {
  color: var(--color-orange);
}

.step__btn:focus {
  border: 2px solid var(--color-orange);
}

.step__btn:active {
  color: #E1670E;

}

.do-work__button_alert:hover,
.do-work__button_alert:focus {
  background-color: #666666;
  color: var(--color-white);
}

.do-work__button_alert:active {
  background-color: #000000;
  color: var(--color-white);

}


.form__input-name:hover,
.form__input-email:hover,
.form__textarea:hover {
  background-color: #666666;
}

.question__li:hover h3,
.question__li:focus h3 {
  color: var(--color-orange);
}

.question__li:hover {
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}

.question__li:focus {
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}

.question__li:active {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.question__li:active {
  color: var(--color-black);
}

.ui-accordion-header:hover,
.ui-accordion-header:focus {
  color: var(--color-orange);
  background-image: url('../img/question-btn-1.svg');
}


 .ui-accordion .ui-accordion-header-active {
  background-image: url('../img/question-btn-2.svg');
}


.left__item:hover {
  color: var(--color-orange);
}

.left__item:active {
  color: #E1670E;
}

.footer__logo:focus svg{
  outline: none;
  border: 2px solid var(--color-orange);
}

.left-item__link:focus {
  outline: none;
  border: 2px solid var(--color-orange);
}

.social-links__item:hover a svg path{
  fill: var(--color-orange);
}

.social-links__item:active a svg path{
  fill: #E1670E;
}

.menu-link:active{
  background-image: url("../img/burger-active.svg");
}

.menu-link:focus {
  border: 2px solid var(--color-orange);
}

/* media */

@media (max-width: 1400px) {
  body {
    max-width: 1400px;
  }

  .container {
    max-width: 1370px;
    padding: 0 15px;
  }

  .header {
    width: 1400px;
  }

  .footer {
    width: 1400px;
  }

  .header__container {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .nav {
    min-width: 608px;
    margin-right: 65px;
  }

  .about-us__item {
    padding-left: 150px;
    background-size: 120px 120px;
    background-position-x: 20px;
    background-position-y: 65px;
  }

  .about-us__item_alert {
    background-image: url("../img/builder-1400.jpg");
    background-position: center;
  }

  .item-alert__container {
    padding: 40px;
  }

  .form__btn {
    margin-bottom: 25px;
  }

  .footer__left {
    width: 410px;
  }

}

@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }

  .container {
    max-width: 954px;
    padding: 0 15px;
  }

  .header {
    width: 1024px;
  }

  .footer {
    width: 1024px;
  }

  .section-offset {
    padding-bottom: 80px;
  }

  .header__container {
    position: relative;
    padding: 26px 46px;
    justify-content: space-between;
  }

  .header__menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 40%;
    min-height: 744%;
    padding: 40px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  }

  .menu-link_alert {
    width: 30px;
    height: 30px;
    margin-bottom: 80px;
    background-image: url("../img/menu-link_alert.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav__list {
    justify-content: space-between;
    flex-direction: column;
    min-height: 370px;
  }

  .nav__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: var(--color-black);
  }

  .nav {
    display: none;
  }

  .header__link-logo svg{
    width: 150px;
    height: 48px;
  }
  .header__link-logo {
    margin: 0;
  }
  .menu-link {
    width: 30px;
    height: 30px;
    display: block;
  }

  .hero__container {
    min-height: 668px;
    padding: 160px 77px;
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    min-height: 668px;
  }

  .swiper-slide_1 {
    background-image: url("../img/hero-1024.jpg");
  }

  .swiper-slide_2 {
    background-image: url("../img/hero-2-1024.jpg");
  }

  .swiper-slide_3 {
    background-image: url("../img/hero-3-1024.jpg");
  }


  .hero__title {
    font-size: 60px;
    line-height: 73px;
    min-height: 146px;
    max-width: 770px;
    margin-bottom: 16px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    max-width: 660px;
    min-height: 48px;
    margin-bottom: 60px;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__descr {
    max-width: 924px;
    min-height: 263px;
  }
  .about-us__container-content {
    min-height: 1294px;
    flex-direction: column;
  }
  .about-us__item_alert {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about-us__item {
    max-width: 924px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 317px;
    background-size: 190px 190px;
    background-position-y: 55px;
    background-position-x: 80px;
  }

  .about-us-item__descr_alert {
    margin-right: 195px;
  }

  .do-work__steps {
    margin-bottom: 50px;
  }

  .do-work__left-container {
    margin-right: 25px;
  }

  .do-work__descr {
    max-width: 437px;
    margin-bottom: 25px;
    min-height: 576px;
  }


  .question__title {
    margin-bottom: 32px;
  }

  .question__descr {
    max-width: 100%;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
  }

  .footer__container {
    padding-top: 49px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .footer__left {
    width: 375px;
  }

  .footer__center {
    width: 551px;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .footer__right {
    display: none;
  }

  .form__input-name,
  .form__input-email,
  .form__textarea {
    max-width: 550px;
  }
  .form__btn {
    padding: 19px 35px;
    margin-right: 22px;
  }

  .form__bottom {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  .container {
    max-width: 688px;
    padding: 0px 10px;
  }

  .header {
    width: 768px;
  }

  .footer {
    width: 768px;
  }

  .header__container {
    padding: 10px 6%;
    min-height: 69px;
  }

  .header__menu {
    min-width: 50%;
    min-height: 1025%;
  }

  .hero__container {
    min-height: 662px;
    padding: 160px 40px;
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    min-height: 662px;
  }

  .swiper-slide_1 {
    background-image: url("../img/hero-768.jpg");
  }

  .swiper-slide_2 {
    background-image: url("../img/hero-2-768.jpg");
  }

  .swiper-slide_3 {
    background-image: url("../img/hero-3-768.jpg");
  }
  .hero__title {
    font-size: 50px;
    line-height: 61px;
    min-height: 122px;
    max-width: 588px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    max-width: 588px;
    min-height: 66px;
    margin-bottom: 60px;
  }

  .about-us__descr {
    max-width: 688px;
    min-height: 389px;
  }
  .about-us__container-content {
    min-height: 1184px;
  }

  .about-us__item_alert {
    width: 100%;
    min-height: 650px;
    background-image: url("../img/builder-768.jpg");
  }

  .item-alert__container {
    padding-left: 40px;
    padding-top: 34px;
    padding-bottom: 34px;
  }


  .about-us-item__descr_alert {
    width: 366px;
    min-height: 128px;
    margin-right: 0;
  }

  .about-us__item {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 170px;
    min-height: 235px;
    background-size: 114px 99px;
    background-position-y: 65px;
    background-position-x: 40px;
  }

  .about-us__item_1 {
    background-image: url('../img/about-us_1-768.svg');
  }

  .about-us__item_2 {
    background-image: url('../img/about-us_2-768.svg');
  }

  .about-us-item__descr_right {
    min-height: 128px;
  }

  .about-us__container-content_right {
    flex-direction: column;
    min-height: 507px;
  }

  .steps__list {
    max-width: 100%;
    height: 22px;
    justify-content: space-between;
  }
  .do-work__info-container {
    flex-direction: column;
  }

  .do-work__left-container {
    max-width: 100%;
    order: 2;
  }

  .do-work__right-container {
    order: 1;
    margin-bottom: 38px;
    padding-top: 0;
  }
  .do-work__descr {
    max-width: 100%;
    min-height: 352px;
    margin-bottom: 25px;
    line-height: 32px;
  }

  .do-work__button {
    margin-bottom: 20px;
  }



  .footer__container {
    padding-right: 177px;
    flex-direction: column-reverse;
  }

  .footer__link {
    margin-bottom: 16px;
  }

  .left__list {
    display: none;
  }

  .footer__left {
    width: 375px;
  }

  .footer__center {
    width: 100%;
    padding-left: 0;
  }

  .footer__right {
    display: none;
  }

  .form__input-name,
  .form__input-email,
  .form__textarea {
  max-width: 550px;
  }
  .form__btn {
    padding: 19px 35px;
    margin-right: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .hero__container {
    padding: 120px 20px;

  }

  .section-title {
    font-size: 30px;
  }

  .hero__title {
    font-size: 40px;
  }
  .item-alert__container {
    flex-wrap: wrap;
  }

  .search__container {
    min-width: 340px;
  }

  .input__search {
    outline: none;
    min-width: 180px;
    border: none;
    border-bottom: 1px solid #DCDCDC;
  }

  .about-us__item {
    padding-left: 90px;
    background-size: 70px 70px;
    background-position-x: 20px;
    background-position-y: 65px;
  }


  .footer__container {
    padding-left: 8%;
    padding-right: 8%;
  }
  .footer__center {
    width: 100%;
  }

  .form__bottom {
    flex-wrap: wrap;
  }

  .form__btn {
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
  }

  .container {
    max-width: 300px;
    padding: 0 5px;
  }

  .header {
    width: 320px;
  }

  .header__menu {
    min-width: 100%;
    min-height: 100%;
  }

  .nav__list {
    min-height: 250px;
  }

  .nav__link {
    font-size: 16px;
  }

  .menu-link_alert {
    margin-bottom: 30px;
  }

  .search__container {
    min-width: 320px;
    right: 0;
    top: 0;
  }

  .search__form {
    display: flex;
  }

  .input__search {
    min-width: 120px;
  }

  .footer {
    width: 320px;
  }

  .section-offset {
    padding-bottom: 60px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .section-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .header__container {
    padding: 11px 12px;
    min-height: 69px;
  }

  .header__link-logo svg{
    width: 110px;
    height: 35px;
  }

  .hero__container {
    min-height: 308px;
    padding: 60px 22px;
    text-align: center;
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    min-height: 308px;
  }

  .swiper-slide_1 {
    background-image: url("../img/hero-320.jpg");
  }

  .swiper-slide_2 {
    background-image: url("../img/hero-2-768.jpg");
  }

  .swiper-slide_3 {
    background-image: url("../img/hero-3-768.jpg");
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    min-height: 49px;
    max-width: 247px;
    margin-bottom: 6px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    max-width: 247px;
    min-height: 61px;
    margin-bottom: 32px;
  }

  .hero__btn {
    padding: 13px 27px;
    font-size: 12px;
    line-height: 15px;
  }

  .about-us__title {
    margin-bottom: 17px;
  }

  .about-us__descr {
    max-width: 290px;
    min-height: 678px;
    margin-bottom: 8px;
    line-height: 28px;
  }

  .about-us__container-content {
    min-height: 990px;
  }

  .about-us__item_alert {
    max-width: 290px;
    min-height: 400px;
    margin-bottom: 32px;
    background-image: url("../img/builder-320.jpg");
    background-repeat: no-repeat;
    background-size: 290px 200px;
    background-position: top;
  }


  .item-alert__container {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 196px;
    padding-left: 0px;
    padding-top: 208px;
    padding-bottom: 0px;
    background: rgba(0, 0, 0, 0);
  }

  .about-us-item__descr {
    margin-right: 0;
  }

  .about-us-item__descr_alert {
    width: 100%;
    min-height: 143px;
    margin-right: 0px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;

  }

  .about-us__btn {
    padding: 11px 40px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-orange);
  }

  .about-us__item {
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 0px;
    min-height: 250px;
    background-position-y: 0px;
    background-position-x: 0px;
    border: none;
  }

  .about-us__item_1 {
    background-image: url('../img/about-us_1-320.svg');
  }

  .about-us__item_2 {
    background-image: url('../img/about-us_2-320.svg');
  }

  .about-us-item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .about-us-item__descr_right {
    min-height: 140px;
    max-width: 290px;
    line-height: 28px;
  }

  .do-work__title {
    margin-bottom: 16px;
  }

  .do-work__steps {
    margin-bottom: 16px;
  }

  .do-work__step {
    font-size: 14px;
    line-height: 17px;
  }

  .do-work__right-container {
    margin-bottom: 16px;
  }

  .do-work-left__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    }

  .do-work__descr {
    margin-bottom: 16px;
    min-height: 700px;
    line-height: 28px;
    font-size: 14px;
  }

  .do-work__button {
    padding: 14px 43px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .do-work__button_alert {
    padding: 14px 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .question__title {
    margin-bottom: 16px;
  }

  .question__descr {
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px;
  }


  .ui-accordion .ui-accordion-header {
    background-image: url('../img/question-btn-320.svg');
  }


  .footer__container {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer__center {
    width: 100%;
    margin-bottom: 16px;
    padding-left: 0;
    border-bottom: 1px solid #595959;;
  }

  .footer__left {
    text-align: center;
    max-width: 320px;
    padding-left: 64px;
    padding-right: 84px;
  }

  .footer__link {
    width: 130px;
    height: 42px;
  }

  .footer__logo svg {
    width: 150px;
    height: 50px;
  }

  .social-links__item a svg {
    width: 40px;
    height: 40px;
  }

  .form__input-name,
  .form__input-email,
  .form__textarea {
    font-size: 14px;
    line-height: 32px;
    max-width: 290px;
  }

  .center__title {
    font-size: 24px;
    line-height: 29px;
  }

  .form__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__btn {
    padding: 12px 24px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__label,
  .form__checkbox {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 32px;
  }

  .social-links {
    width: 152px;
  }

  .question__li:hover h3,
  .question__li:focus h3 {
    color: var(--color-orange);
  }

  .ui-accordion-header:hover,
  .ui-accordion-header:focus {
    background-image: url('../img/question-btn-1-320.svg');
  }


  .ui-accordion .ui-accordion-header-active {
    background-image: url('../img/question-btn-2-320.svg');
  }


  .about-us__btn:hover,
  .about-us__btn:focus {
    color: #FFFFFF;
}

  .about-us__btn:active {
    color: #FFFFFF;
  }
}
